
<div class="analytics">
    <table id="analyticsTable" class="table table-striped table-hover" cellspacing="0" >
      <thead>
      <tr>
        <th style="display:none;">AppID</th>
        <th>Name</th>
        <th># Versions</th>
        <th>Current Version</th>
        <th>Repo Type</th>
      </tr>
      </thead>

      <tbody>
      <% @records_array.each do |row| %>
          <tr>
            <td style="display:none;"><%= row["appId"] %></td>
            <td><%= row["auto_name"] %></td>
            <td><%= row["num_versions"] %></td>
            <td><%= row["current_version"] %></td>
            <td><%= row["repo_type"] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</div>