<!-- Highcharts charting library -->
<script src="/javascripts/highcharts.js"></script>
<script src="/javascripts/exporting.js"></script>

<div class="top-apps">

    <div class="row" style="margin-bottom: 50px">
      <div class="col-md-5">
        <div class="center-content">
          <h3>Over Permissions</h3>
          <p>Using Stowaway, a tool that determines the permissions in which an app is over- and underprivileged, we found that even some of the most popular apps on Google Play and F-Droid violate the principle of least privilege.</p>
        </div>
      </div>
      <div class="col-md-7">
        <div id="permissionsChart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-5">
      <div class="center-content">
        <h3>Defects</h3>
        <p>Using Sonar, a tool that generates code metrics and finds defects, we were able to determine the percentage of defects found in the code bases of popular applications.</p>
      </div>
    </div>
    <div class="col-md-7">
      <div id="violationsChart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
  </div>

</div>

<script type="text/javascript">
    $(function () {

        var appIds = <%= @app_ids.to_json %>;

        // Radialize the colors
        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });

        // Build the chart
        $('#permissionsChart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Over Permissions for Top Applications'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.y} Over Permissions',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        },
                        connectorColor: 'silver'
                    },
                    point: {
                        events: {
                            // Go to app analytics page on click
                            click: function () {
                                location.href = "analytics/" + appIds[this.x];
                            }
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Over Permissions',
                data: [
                    ['F-Droid', <%= @overpermission_array[0] %>],
                    ['2048', <%= @overpermission_array[1] %>],
                    ['Music', <%= @overpermission_array[2] %>],
                    ['GitHub', <%= @overpermission_array[3] %>],
                    ['VLC', <%= @overpermission_array[4] %>]
                ]
            }]
        });

        // Build the chart
        $('#violationsChart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Average Defects Per KLOC for Top Applications'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.y} Defects',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        },
                        connectorColor: 'silver'
                    },
                    point: {
                        events: {
                            // Go to app analytics page on click
                            click: function () {
                                location.href = "analytics/" + appIds[this.x];
                            }
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Defects per KLOC',
                data: [
                    ['F-Droid', <%= @violation_array[0] %>],
                    ['2048', <%= @violation_array[1] %>],
                    ['Music', <%= @violation_array[2] %>],
                    ['GitHub', <%= @violation_array[3] %>],
                    ['VLC', <%= @violation_array[4] %>]
                ]
            }]
        });
    });
</script>